@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>
<form asp-action="ForgetPassword" method="post">
    <p asp-validation-summary="All" class="text-danger"></p>
    <input type="email" asp-for="Email" placeholder="Email"/>
    <span asp-validation-for="Email"></span>
    <input type="submit" />
</form>

