@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ResetPassword</h1>
<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Email"/>
    <input type="hidden" asp-for="Token" />
    <div asp-validation-summary="All">
        <input type="password" class="form-control" asp-for="Password" placeholder="Password" required/>
        <span asp-validation-for="Password"></span>
        <br />
        <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="ConfirmPassword" required />
        <span asp-validation-for="ConfirmPassword"></span>
        <br />
        <input type="submit" value="ChangePassword" class="btn btn-primary" />
    </div>
</form>

